// fonts
$fontMain: "Roboto", sans-serif;

$box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
//colors
$gray: #AFAFAF;
$black: #000000;
$white: #ffffff;
$red: #E62101;
$green: #5CA46B;
$brightGreen: #C1E837;
$brown: #B58C2E;
$blue: #2248A6;
$filter: invert(76%) sepia(87%) saturate(399%) hue-rotate(29deg) brightness(105%) contrast(101%);
$transition: all 0.3s ease-in;
